<!DOCTYPE html>
<html>
    <head>
       <title>Home</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <h1>Home</h1>
            <form action='/results' name="request" method='post'>
                <label for="name"><span>Your Name:</span>
                <input type='text' name='name' id='name' value="{{session['name']}}"></label>
                
                <label for="location"><span>Dojo Location:</span>
                <select name="location" id="location">
                    <option {{session['Seattle']}}>Seattle</option>
                    <option {{session['Silicon Valley']}}>Silicon Valley</option>
                    <option {{session['Los Angeles']}}>Los Angeles</option>
                    <option {{session['Dallas']}}>Dallas</option>
                    <option {{session['Tulsa']}}>Tulsa</option>
                    <option {{session['Chicago']}}>Chicago</option>
                    <option {{session['Washington DC']}}>Washington DC</option>
                </select></label>
                

                <label for="language"><span>Favorite Language:</span>
                <select name="language" id="language">
                    <option {{session['JQuery']}}>JQuery</option>
                    <option {{session['Java']}}>Java</option>
                    <option {{session['Javascript']}}>Javascript</option>
                    <option {{session['C Sharp']}}>C Sharp</option>
                    <option {{session['Python']}}>Python</option>
                    <option {{session['iOS Swift']}}>iOS Swift</option>
                </select></label>
                
                <label for="comment"><span>Comment (Optional):</span>
                <textarea name="comment" rows="4" cols="50">{{session['comment']}}</textarea></label>
                
                <span>
                    <input type='submit' value='Submit'>
                </span>
            </form>

            <div id="errorLayer">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="{{ category }}">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </body>
</html>